*{
	padding:0;
	margin:0;
}
#navbar{
	background-color: white;
}

#jumbo{
	height: 100vh;
	background-image: url(../images/fashion.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

#inner-line{
	height: 85vh;
	background-color: rgba(209, 224, 211, 0.41);
	font-size: 5em;
	font-family: 'Shrikhand', cursive;
}

#img-item{
 width: 200px;
 height: 150px;

}

#footer{
	background-color: white;
}

/*#reg{
	background-image: url(../images/register.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Shrikhand', cursive;
	font-size: 10em;
}*/

#form-reg{
	background-color: rgba(111, 74, 1, 0.94);
	width: 50%;
	position: relative;
	left: 20%;

}
