*{
	padding:0;
	margin:0;
}
#navbar{
	background-color: white;
	border-bottom: 3px solid #827017;
	/*border-top: 10px solid #827017;*/
}

#jumbo{
	height: 100vh;
	background-image: url(../images/fashion.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

#inner-line{
	height: 85vh;
	/*background-color: rgba(209, 224, 211, 0.41);*/
	font-size: 5em;
	font-family: 'Shrikhand', cursive;
	position: absolute;
	top: 15%;
	left: 20%;
}

#img-item{
 width: 200px;
 height: 150px;

}

#footer{
	background-color: white;
}


#form-reg{
	background-color: #827017;
	width: 50%;
	border-left: solid 8px #52470f;
	border-radius: 10%;

}

#brand{
	font-family: 'Shrikhand', cursive;

}

#logo{
	width: 50px;
	height: 50px;
}

#form-login{
	background-color: #827017;
	height: 200px;
	padding-top: 1%;
	border-radius: 10%;
	color: white;
	border-left: solid 8px #52470f;
}

#jumbo-login{
	background-color: #776e5f;
	font-family: 'Shrikhand', cursive;
	height: 50px;
	border: 10px solid #827017;
	border-radius: 25%;
}
#reg-btn{
	position: absolute;
	top: 79%;
	left: 33%;
}
#img-reg{
	height: 50vh;
	width: 100%;
}
#jumbo-reg{
	background-color: #827017;
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
	height: 10vh;
}

#categor{
	font-family: 'Shrikhand', cursive;
}

#sort{
	font-family: 'Shrikhand', cursive;
}

#list-categor1{
	color: black;
	font-weight: bolder;
}

#list-categor2{
	color: black;
	font-weight: bolder;
}

#list-sort1{
	color: black;
	font-weight: bolder;
}

#list-sort2{
	color: black;
	font-weight: bolder;
}
#text-cart{
	font-family: 'Shrikhand', cursive;
}

