*{
	padding:0;
	margin:0;
}
#navbar{
	background-color: white;
	border-bottom: 3px solid #827017;
	/*border-top: 10px solid #827017;*/
}

#jumbo{
	height: 100vh;
	background-image: url(../images/fashion.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

#inner-line{
	height: 85vh;
	/*background-color: rgba(209, 224, 211, 0.41);*/
	font-size: 5em;
	font-family: 'Shrikhand', cursive;
	position: absolute;
	top: 15%;
	left: 20%;
}

#img-item{
 width: 200px;
 height: 150px;

}

#footer{
	background-color: white;
}


#form-reg{
	background-color: #827017;
	width: 50%;
	border-left: solid 8px #52470f;
	border-radius: 10%;

}

#brand{
	font-family: 'Shrikhand', cursive;

}

#logo{
	width: 50px;
	height: 50px;
}

#form-login{
	background-color: #827017;
	height: 200px;
	padding-top: 1%;
	border-radius: 10%;
	color: white;
	border-left: solid 8px #52470f;
	font-family: 'Baloo Thambi', cursive;
}

#jumbo-login{
	background-color: #776e5f;
	font-family: 'Shrikhand', cursive;
	height: 50px;
	border: 10px solid #827017;
	border-radius: 25%;
}
#reg-btn{
	position: absolute;
	top: 79%;
	left: 33%;
	font-family: 'Baloo Thambi', cursive;
}
#img-reg{
	height: 50vh;
	width: 100%;
}
#jumbo-reg{
	background-color: #827017;
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
	height: 10vh;
}

#categor{
	font-family: 'Shrikhand', cursive;
}

#sort{
	font-family: 'Shrikhand', cursive;
}


#list-categor1{
	color: black;
	font-weight: bolder;

}

#list-categor2{
	color: black;
	font-weight: bolder;
}

#list-sort1{
	color: black;
	font-weight: bolder;
}

#list-sort2{
	color: black;
	font-weight: bolder;
}
#text-cart{
	font-family: 'Shrikhand', cursive;
}

#list-profile{
	color: black;
	font-weight: bolder;
}

#list-history{
	color: black;
	font-weight: bolder;
}

#text-reg{
	font-family: 'Baloo Thambi', cursive;
}

#login-btn{
	font-family: 'Baloo Thambi', cursive;
}

#text-card{
	font-family: 'Baloo Thambi', cursive;
}

#descrip-item{
	font-family: 'Chivo', sans-serif;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slide-img{
	height: 80vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 3em;
  padding: 8px 12px;
  position: absolute;
  bottom: 80%;
  width: 100%;
  text-align: center;
  font-family: 'Shrikhand', cursive;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 1.5}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 1.5}
}